{% extends "base.html.twig" %} {% block title %} {{ title }} {% endblock %}

{% block content %}
    <div style="background-color: #4CB2DD; width: 100vw;height: 100vh; flex-direction: column; display: flex">
        {% include 'header.twig' %}



        <div class="grid-y" style="margin: 20px; align-self: center">

            <div style="background-color: #FFFFFF;padding-left: 20px; padding-right: 20px;margin-bottom: 20px; border-radius: 50px; justify-items: center; display: flex; flex-direction: column">
                <h1 class="h1" style="text-align: center">Course list</h1>
            </div>


            <div id="table-container"
                 style=" background-color: #FFFFFF;padding: 50px; border-radius: 50px; justify-items: center; display: flex; flex-direction: column; min-height: 10vh; max-height: 75vh">
                <div style="overflow: auto; width: 100% ">
                    <table id="courselist" class="hover">
                        <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--<table id="courselist" class="hover stack" style="border: green 25px solid">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Role</th>
        </tr>
        </thead>
    </table>
    -->

    <script>
        $.ajax({
            url: 'api/courses/getCourses',
            method: 'GET',
        }).fail(function (err) {
            let table_cont = $("#table-container");
            table_cont.empty();

            let container = document.createElement('DIV');
            container.style.width = '100%';
            container.style.display = 'flex';
            container.style.flexDirection = 'column';
            container.style.alignItems = 'center';


            let error = document.createElement('H1');
            error.style.textAlign = 'center';
            error.style.width = '100%';
            error.innerText = err.statusText;
            container.append(error);

            let redirect = document.createElement('A');
            redirect.classList.add('button', 'primary');
            redirect.href = '{{ base_url() }}';
            redirect.innerText = "Head to login!";
            container.append(redirect);

            table_cont.append(container);

        }).done(function (val) {
            let ans = JSON.parse(val);

            let courselist = $("#courselist");
            let tbody = document.createElement("tbody");
            for (var i in ans) {
                let row = ans[i];
                let tr = document.createElement('tr');
                //rowDiv.classList.add('grid-x');
                tr.addEventListener("click", () => {
                    window.location.href = '{{ base_url() }}/defineIndicators/' + row['courseid']
                });

                let subject = document.createElement('td');
                //subject.classList.add('cell','large-6')
                subject.innerHTML = row['name'];

                let role = document.createElement('td');
                //role.classList.add('cell','large-3')
                if (row['role'] === 'student') {
                    role.innerHTML = "<img style='max-width:50px' src='{{ base_url() }}/assets/logos/student_role/student.svg'/>";
                }

                let id = document.createElement('td');
                //id.classList.add('cell', 'large-3')
                id.innerText = row['id'];


                tr.append(subject)
                tr.append(role)
                tbody.append(tr);
            }

            courselist.append(tbody);

        });
    </script>

{% endblock %}
