<div class="grid-x" style="background: #3adb76">
    <div class="cell-block large-8">
        <h1 class="title" id="EIStudy">
            {% if sessionStarted %}
                <a href="{{ base_url() }}/profile">EIStudy</a>
            {% else %}
            <a href="{{ base_url() }}">EIStudy</a>
            {% endif %}
        </h1>
    </div>
</div>
