<div class="grid-x" style="background: transparent; width: 100vw;display: flex;justify-content: center">
    <h1 class="title" id="EIStudy" style="text-align: center">
        <a href="{{ base_url() }}/profile" style="color: white;text-decoration: underline">EIStudy</a>
    </h1>
</div>
