<div class="cell large-6">
    <form >
        <div class="grid-container">
            <div class="grid-y grid-padding-y">
                <div class="medium-6 cell">
                    <label>Usuario
                        <input id="userUsername" name="username" type="text" placeholder="Usuario en Moodle">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Contrase침a
                        <input id="userPassword" name="password" type="password" placeholder="Contrase침a">
                    </label>
                </div>
            </div>
            <div id="errorField" style="display: none; text-align: center; width: 100%" class="alert form-error">
                <p>Error al iniciar sesi칩n. Verfica tus credenciales</p>
            </div>
            <div class="text-center">
                <button type="submit" id="loginButton" name="Login" class="button">Iniciar sesi칩n</button>
            </div>
        </div>
    </form>
</div>


<script>
    $("input").on('change', function (){
        $("#errorField").hide(200);
    })
    $("form").submit(function (e) {
        e.preventDefault();
        console.log(e);
        let username = $("#userUsername").val();
        let password = $("#userPassword").val();

        $.ajax({ url: '/api/login',method:'POST', data: {login: username, password: password}})
            .done( function (data) {
            let ans = JSON.parse(data);
            window.location.href = '{{ base_url() }}/profile';
        }).fail(() => {$("#errorField").show(200);});
    });

    /*$("#loginButton").on('click', function (evt) {
        let username = $("#userUsername").val();
        let password = $("#userPassword").val();

        $.ajax({ url: '/api/login',method:'POST', data: {login: username, password: password}}).done( function (data) {
            let ans = JSON.parse(data);

            if (ans['status']) {
                window.location.href = '{{ base_url() }}/profile';
            } else {
                alert("ERROR!");
                $("#loginButton").enable();
            }
        });
    });*/
</script>