{% extends "base.html.twig" %} {% block title %} {{ title }} {% endblock %}

{% block content %}

    <div style="height: 100vh; background-color: #4CB2DD">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%">
            <h1 style="color: white">EIStudy</h1>
            <div class="grid-x grid-margin-x" style="width: 100%; align-items: center">
                <div class="show-for-small-only" style="border-radius: 50px; width: 100% ;background-color: white; margin: 10px; padding: 10px; text-align: center">
                    <h2>Entiende cómo usas el <strong>campus virtual!</strong></h2>
                </div>
                <div class="cell medium-7 large-6 grid-x hide-for-small-only"
                     style="background-color: #FFFFFF; border-radius: 50px; height: 10%; min-height: 300px; max-height: 400px; padding: 50px; display: flex; flex-direction: column ; justify-content: space-around">
                    <div class="row" style="padding: 25px; text-align: center">
                        <h2>Tu interacción con <strong>Moodle</strong></h2>
                    </div>
                </div>


                <div class="cell medium-5 large-6 small-12 grid-y"
                     style="height: 60%; min-height: 300px; max-height: 400px; padding: 50px; display: flex; flex-direction: column ; justify-content: space-around">

                    <div style="background-color: #FFFFFF; border-radius: 50px; margin-bottom: 20px; text-align: center">
                        <h2 class="h2">Iniciar sesión</h2>
                    </div>

                    <div style="background-color: #FFFFFF; border-radius: 50px; padding: 10px">
                        {% include 'logInForm.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--
    <div class="grid-y" style="height: 100vh; border: green 25px solid">
        <div class="grid-x">
            <div class="cell" style="border: #0a0a0a 1px solid">
                <h1 class="align-center text-center">Bienvenido a EIStudy</h1>
            </div>
        </div>
        <div class="grid-x">
            <div class="cell medium-6 large-8" style="border: #0a0a0a 1px solid">
                <div class="grid-container">
                <p>EIStudy es una plataforma que te ayuda a ver cómo interactuas con el Moodle universitario.</p>
                <p>Para iniciar sesión, usa los credenciales de eStudy.</p>
                </div>
            </div>
            <div class="cell medium-6 large-4" style="border: #0a0a0a 1px solid">
            </div>
        </div>
    </div>
    -->


{% endblock %}



{% block footer %}
    {{ footer }}
{% endblock %}
