{% extends "base.html.twig" %} {% block title %} {{ title }} {% endblock %}

{% block content %}

    <div style="background-color: #4CB2DD; width: 101vw; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <h1>EIStudy</h1>
        <div class="grid-x grid-margin-x" style="width: 83%">
            <div class="cell medium-6 large-4 grid-x"
                 style="background-color: #FFFFFF; border-radius: 50px; min-height: 300px; max-height: 400px">
                <div class="row" style="padding: 50px">
                    <h2>Esta aplicación te permite ver como interactuas con el <strong>campus virtual</strong></h2>
                </div>
            </div>
            <div class="cell medium-6 large-8"
                 style="background-color: #FFFFFF; border-radius: 50px; min-height: 300px; max-height: 400px; display: flex; flex-direction: column ; justify-content: space-around">
                {% include 'logInForm.twig' %}
            </div>
        </div>
    </div>


    <!--
    <div class="grid-y" style="height: 100vh; border: green 25px solid">
        <div class="grid-x">
            <div class="cell" style="border: #0a0a0a 1px solid">
                <h1 class="align-center text-center">Bienvenido a EIStudy</h1>
            </div>
        </div>
        <div class="grid-x">
            <div class="cell medium-6 large-8" style="border: #0a0a0a 1px solid">
                <div class="grid-container">
                <p>EIStudy es una plataforma que te ayuda a ver cómo interactuas con el Moodle universitario.</p>
                <p>Para iniciar sesión, usa los credenciales de eStudy.</p>
                </div>
            </div>
            <div class="cell medium-6 large-4" style="border: #0a0a0a 1px solid">
            </div>
        </div>
    </div>
    -->


{% endblock %}



{% block footer %}
    {{ footer }}
{% endblock %}
